.project-box {
    position: relative;
    text-align: center;
}

.auth-wrapper {
    min-height: 100vh;
    position: relative;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.auth-wrapper .auth-box {
    background: #fff;
    max-width: 400px;
    width: 90%;
    margin: 4% 0;
    padding: 28px;
}
.auth-wrapper .auth-box, .customizer {box-shadow: 0 0px 60px rgb(126, 184, 255);background-color: #ffffff;border-radius: 4px;}

.account-box {
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
}
@media only screen and (max-width: 479px) and (min-width: 360px){
    .account-box {
        width: 340px;
        margin-bottom: 20px;
    }
}


.card-box {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px;
}
.team-members img {
    width: 100%;
    height: 100%;
}
.team-members {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.team-members li {
    float: left;
}
.team-members li:first-child a {
    margin-left: 0;
}
.team-members a {
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    height: 38px;
    overflow: hidden;
    width: 38px;
}

.progress-xs {
    height: 5px;
}
.m-b-0 {
    margin-bottom: 0 !important;
}
.progress {
    height: 20px;
    margin: 2% 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.project-title {
    margin: auto;
    color: rgb(9, 157, 216);
    text-align: center;
    font-weight: 500;
}
.dropdown.profile-action {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 10px;
}
.action-icon {
    color: #777;
    font-size: 18px;
    padding: 0 10px;
}
.text-ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rounded, .circle {
    border-radius: 500px;
}

@media (min-width: 768px){
    .modal.custom-modal {
        background-color: #eff3f6;
    }
}

@media (min-width: 768px){
    .modal-open .modal {
        left: 68px;
        top: 62px;
    }
}


@media (min-width: 768px){
    .custom-modal .modal-content {
        border: 0 none;
        box-shadow: inherit;
        margin: 0 auto;
        background-color: transparent;
        padding: 30px 0;
    }
    .modal-content {
        border-radius: 0;
    }
}

@media (min-width: 768px){
    .custom-modal button.close {
        background: #00c5fb;
        background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #00c5fb), color-stop(100%, #0253cc));
        background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
        background: -o-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
        background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
        background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5fb', endColorstr='#0253cc', GradientType=1 );
        border-bottom: none;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b44', endColorstr='#fc6075', GradientType=1 );
        border-radius: 50%;
        height: 50px;
        left: -15px;
        opacity: 1;
        position: relative;
        top: 15px;
        width: 50px;
        text-shadow: inherit;
        color: #fff;
        z-index: 99;
    }
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    font-size: 28px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
@media (min-width: 768px){
    .custom-modal .modal-dialog {
        height: 100%;
        margin: 0;
        width: 100%;
    }
}

body{
    overflow: auto;
}

@media (min-width: 768px){
    .modal-backdrop.in {
        opacity: 0.2;
    }
}

.button-haka{
    background: #0085f1;
    background: -moz-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #072e61), color-stop(100%, #fc6075));
    background: -webkit-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -o-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -ms-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: linear-gradient(to right, #00a2ff 0%, #072e61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b44', endColorstr='#fc6075', GradientType=1 );
    border-radius: 0;
    font-size: 25px;
    padding: 10px 26px;
    box-shadow: 0 6px 15px rgba(0, 217, 255, 0.6);
    border: 0;
    width: 100%;
    height: 65px;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
}



.inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
  }
  .inputGroup:last-of-type {
    margin-bottom: 4%;
  }
  form label, .form label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
  }
  form input, select, textarea, .form input{
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow .2s linear, border-color .25s ease-out;
  }
  .form input:focus, form input:focus, select:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #4eb8dd;
  }
  .form input, form input, select, textarea {
    padding: 14px 1em 0px;
  }
  /* .form button, form button {
    background: #0085f1;
    background: -moz-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #072e61), color-stop(100%, #fc6075));
    background: -webkit-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -o-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: -ms-linear-gradient(left, #00a2ff 0%, #072e61 100%);
    background: linear-gradient(to right, #00a2ff 0%, #072e61 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b44', endColorstr='#fc6075', GradientType=1 );
    border-radius: 0;
    font-size: 25px;
    padding: 10px 26px;
    box-shadow: 0 6px 15px rgba(0, 217, 255, 0.6);
    border: 0;
    width: 100%;
    height: 65px;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
  }
  form button:hover, form button:active,  .form button:hover, .form button:active {
    background-color: #217093;
  } */
  .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
    padding-top: 25px;
  }
  .inputGroup1 .helper1 {
    top: 0;
    left: 0;
    -webkit-transform: translate(1.4em, 1.7em) scale(1);
            transform: translate(1.4em, 1.7em) scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    transition: opacity .2s linear, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s linear;
    transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
  }
  .inputGroup1.focusWithText .helper {
    /*input[type='email']:focus + .helper {*/
    -webkit-transform: translate(.6em, 1.6em) scale(0.65);
            transform: translate(.8em, 1.6em) scale(0.65);
    opacity: 1;
  }
  
  .avatar {
    background-color: #aaa;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    height: 38px;
    line-height: 38px;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 38px;
    position: relative;
    white-space: nowrap;
}
.all-team{
    font-size: 28px;
    font-weight: 700;
    margin-left: 10px;
}

.sidebar-menu > ul > li {
    position: relative;
}
.menu-title {
    color: #00baf6;
    font-size: 16px;
    line-height: 40px;
    min-height: 40px;
}
.theme-blue .sidebar-menu li a {
    color: #b7c0cd;
}
.sidebar-menu li.menu-title a {
    color: #ff9b44;
    display: inline-block;
    float: right;
    padding: 0;
}
.sidebar-menu li a {
    color: #333;
    display: block;
    font-size: 13px;
    height: auto;
    line-height: 40px;
    min-height: 40px;
    padding: 0 20px;
    /* white-space: nowrap; */
}


/* Task */

.task-chat-contents {background-color: #fff;}
.task-chat-view {border-left: 1px solid #eaeaea;}
.task-chat-view .chat-left .chat-content {border:0;padding:0;}
.task-chat-view .chat-left .chat-body {margin-left: 50px;}
.task-chat-view .chat-date {background-color: #fff;}
.task-chat-view .chats {padding: 15px 15px 30px;}
.task-chat-view .avatar {width:30px;height:30px;line-height:30px;}
.followers-add {background-color: #fff;border: 1px solid #ccc;border-radius: 50%;color: #ccc;display: inline-block;font-size: 20px;height: 30px;line-height: 30px;text-align: center;width: 30px;}
.followers-add:hover {border: 1px solid #8c8c8c;color: #8c8c8c;}
.completed-task-msg {margin-bottom: 30px;margin-left: 50px;}
.task-chat-contents .chat.chat-left {margin-bottom: 20px;}
.file-attached {color: #333;font-size: 13px;}
.file-attached i {font-size: 16px;}
.task-attach-img > img {border: 1px solid #eaeaea;max-width: 100%;}
.attach-img-download {margin-bottom: 5px;}
.task-chat-view .chat-left .chat-time {color: #a3afb7;display: inline-block;font-size: 11px;}
.task-chat-user {color: #333;font-size: 13px;}
.task-chat-view .chat-content > p {font-size: 13px;margin-bottom: 0;}
.task-time {color: #a3afb7;display: inline-block;font-size: 11px;}
.task-success {color: #55ce63;font-size: 13px;}
.task-success a {color:#55ce63;}
.task-attach-img {margin-bottom: 20px;}
.task-assign {float: left;}
.assign-title {float: left;margin-right: 10px;margin-top: 5px;}
.task-assign > a {float: left;}
.followers-add > i {line-height: 28px;}
.task-followers {display: flex;margin-top: 15px;}
.followers-title {margin: 5px 10px 0 0;}
.task-line {border-color: #eaeaea;}
.task-information {color: #95a1a9;font-size: 11px;line-height: 17px;min-width: 1px;margin-left: 50px;}
.task-info-line {overflow-wrap: break-word;}
.task-user {color: #95a1a9;font-weight: 500;}
.task-information .task-time {display: inline-block;padding-left: 10px;}
.message-area .input-group .form-control:focus {height: 150px;transition: all 0.5s ease 0s;}
.task-btn-right {/* display: none !important; */}
.task:hover .task-btn-right {display: table-cell !important;}
.task-action-btn.task-check {text-align: left !important;width: 40px;}
.add-task-btn {padding: 6px 10px;text-transform: uppercase;}
.action-circle {
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.action-circle .material-icons:hover {
    color: #00c5fb !important;
}
.action-circle.large:hover {
    transform: scale(1.5);
}

.action-circle .material-icons {color: #ccc;font-size: 18px;vertical-align: -3px;margin-top: 3px;}
.action-circle.completed {background: #35BA67;border: 1px solid #2fa65c;}
.action-circle.completed .material-icons {color: #fff;}
.action-circle.large {height: 24px;width: 24px;}
.action-circle.large .material-icons {font-size: 16px;vertical-align: -4px;}
.task-wrapper {padding: 20px;width: 100%;margin: 0 auto;box-sizing: border-box;padding-bottom: 10%;}
.task-wrapper .mark-all-tasks {text-align: right;padding-bottom: 15px;}
.task-wrapper .mark-all-tasks .mark-all-tasks-container {overflow: hidden;position: relative;}
.task-wrapper .mark-all-tasks .mark-all-btn {cursor: pointer;display: inline-block;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
.task-wrapper .mark-all-tasks .mark-all-btn#mark-all-finished {color: #35BA67;}
.task-wrapper .mark-all-tasks .mark-all-btn#mark-all-incomplete {color: #666;}
.task-wrapper .mark-all-tasks .mark-all-btn#mark-all-incomplete .action-circle {border: 1px solid #666;}
.task-wrapper .mark-all-tasks .mark-all-btn#mark-all-incomplete .action-circle .material-icons {color: #666;}
.task-wrapper .mark-all-tasks .mark-all-btn.move-up {-webkit-transform: translateY(-30px);-moz-transform: translateY(-30px);-ms-transform: translateY(-30px);-o-transform: translateY(-30px);transform: translateY(-30px);position: absolute;right: 0;}
.task-wrapper .mark-all-tasks .mark-all-btn.move-down {-webkit-transform: translateY(30px);-moz-transform: translateY(30px);-ms-transform: translateY(30px);-o-transform: translateY(30px);transform: translateY(30px);position: absolute;right: 0;}
.task-wrapper .mark-all-tasks .btn-label {margin-right: 5px;font-weight: 600;}
.task-wrapper .task-list-header h3,
.task-wrapper .task-list-footer h3 {font-size: 24px;font-weight: 400;color: #666;}
.task-wrapper .task-list-body {max-height: 500px;overflow-x: hidden;}
.task-wrapper #task-list {list-style: none;margin: 0;padding: 0;border-bottom: 1px solid #eaeaea;}
.task-wrapper #task-list li {margin: 0;padding: 0;}
.task-wrapper #task-list li .task-container {
	display: table;
	background: #fff;
	padding: 8px 15px;
	width: 100%;
	border: 1px solid #eaeaea;
	border-bottom: none;
	box-sizing: border-box;
	position: relative;
	-webkit-transition: background 200ms ease;
	-moz-transition: background 200ms ease;
	-ms-transition: background 200ms ease;
	-o-transition: background 200ms ease;
	transition: background 200ms ease;
}
.task-label {display: table-cell;font-weight: 400;vertical-align: middle;color: #333;word-break: break-all;}
.task-action-btn {display: table-cell;vertical-align: middle;text-align: right;}
.task-action-btn .action-circle:hover {border: 2px solid #00c5fb;background: #fff;}
.task-action-btn .action-circle:hover .material-icons {color: #8c8c8c;}

.task-container:hover {background: #EBEEEF;}
tr.completed .task-container {background: #f9f9f9;}
tr.completed .complete-btn {background: #35BA67;border: 1px solid #2fa65c;}
tr.completed .complete-btn .material-icons {color: #fff;}
tr.completed .complete-btn:hover {background: #35BA67;border: 1px solid #2fa65c;}
tr.completed .complete-btn:hover .material-icons {color: #fff;}
tr.completed .task-label {color: #67c7a5;text-decoration: line-through;}
tr.new .task-container {-webkit-animation: taskHighlighter 2000ms linear 1; animation: taskHighlighter 2000ms linear 1;}
.task-wrapper .task-list-footer {position: relative;}
.task-wrapper .task-list-footer .add-task-btn-wrapper {text-align: center;}
.task-wrapper .task-list-footer .add-task-btn {
	cursor: pointer;
	border: 2px solid #9B1BCC;
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 10px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.task-wrapper .task-list-footer .add-task-btn.hide {opacity: 1;visibility: visible;display: block;}
.task-wrapper .task-list-footer .add-task-btn:hover {background: #9B1BCC;}
.task-wrapper .task-list-footer .add-task-btn:hover .material-icons {color: #EBEEEF;}
.task-wrapper .task-list-footer .add-task-btn .material-icons {color: #9B1BCC;font-size: 34px;}
.task-wrapper .task-list-footer .new-task-wrapper {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	max-height: 0;
	overflow: hidden;
}
.task-wrapper .task-list-footer .new-task-wrapper::after {content: "";display: block;clear: both;}
.task-wrapper .task-list-footer .new-task-wrapper textarea {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #eaeaea;
	border-top: 0;
	height: 45px;
	resize: none;
	padding: 10px 15px;
	margin-bottom: 20px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.task-wrapper .task-list-footer .new-task-wrapper textarea:focus {border: 1px solid #bfbfbf;outline: none;}
.task-wrapper .task-list-footer .new-task-wrapper textarea.error {border: 1px solid #D93737;outline: none;}
.task-wrapper .task-list-footer .new-task-wrapper .error-message {color: #D93737;font-style: italic;}
.task-wrapper .task-list-footer .new-task-wrapper .btn {padding: 10px 15px;float: right;cursor: pointer;}
.task-wrapper .task-list-footer .new-task-wrapper .add-new-task-btn {background: #fff;border: 1px solid #ccc;}
.task-wrapper .task-list-footer .new-task-wrapper.visible {max-height: 300px;overflow: auto;}
.notification-popup {
	z-index: 1051;
	position: fixed;
	top: 20px;
	right: 10px;
	width: 300px;
	display: inline-block;
	background: #1F8FEF;
	border: 1px solid #1082e4;
	color: #fff;
	padding: 20px;
	opacity: 1;
	border-radius: 2px;
	box-sizing: border-box;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.notification-popup.success {background: #35BA67;border: 1px solid #2fa65c;}
.notification-popup p {margin-top: 0;margin-bottom: 0px;}
.notification-popup .task {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 100%;display: inline-block;}
.notification-popup .notification-text {font-size: 14px;display: inline-block;overflow: hidden;}
.notification-popup.hide {opacity: 0;visibility: hidden;}
.sidebar-overlay {display: none;position: fixed;z-index: 90;height: 100%;left: 0;top: 60px;width: 100%;z-index: 1040;background-color: rgba(0, 0, 0, 0.6);}
.sidebar-overlay.opened {display: block;}
.task-overlay {display: none;position: fixed;z-index: 90;height: 100%;left: 0;top: 60px;width: 100%;z-index: 1040;background-color: rgba(0, 0, 0, 0.6);}
.task-overlay.opened {display: block;}
.sidebar-menu.opened {opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px);margin-left:0;}
body.menu-opened {overflow: hidden;}
.task-chat-view.opened {margin-right:0;}
.chat-profile-view.opened {margin-right:0;}
.menu-opened .message-view.task-view {width:100%;}


/* Progress Bar */

.bar-container{
    width: 264px;
    cursor: pointer;
    margin: auto;
}

.radio-progress .progress {
    width: 260px;
  }
  
  .progress {
    padding: 2px 4px;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08) !important;
  }
  
  .progress-bar {
    height: 16px;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); */
  }
  
  /*
   * Note: using adjacent or general sibling selectors combined with
   *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
   *       See this article for more info and a potential fix:
   *       https://css-tricks.com/webkit-sibling-bug/
   */
   
.progress-0{
    width: 0%;
}

.progress-5 {
    width: 5%;
    background-color: #f63a0f;
    box-shadow: 1px 1px 4px black;
  }
  
.progress-25 {
    width: 25%;
    background-color: #f27011;
    border: 2px #de9056;
    box-shadow: 1px 1px 4px black;
  }
  
.progress-50 {width: 50%;background: linear-gradient(to right, #fbae00 0%, #ffe110 100%);box-shadow: 1px 1px 4px black;}

.progress-75 {width: 75%;background: linear-gradient(to right, #fbe800 0%, #02cc12 100%);box-shadow: 1px 1px 4px black;}

.progress-100 {width: 100%;background: linear-gradient(to right, #92f9b6 0%, #04d81e 100%);box-shadow: 1px 1px 4px black;}

.radio {
display: none;
}

.label {display: inline-block;margin: 0 5px 20px;padding: 3px 8px;color: #fff;text-shadow: 0 1px black;border-radius: 3px;cursor: pointer;}

.radio:checked + .label {color: white;background: rgb(0, 187, 247) !important;}

.radio-task{
    display: none;
}
.account-logo{
    text-align: center;
}

.btn-Pendiente{
    background: #ffc36d;
    border: 1px solid #ffc36d;
    /* background: #dadada;
    border: 1px solid #afacac; */
    color: white;
}
.btn-Subida{
    background: #12dc78;
    border: 1px solid #53e69d;
    color: white;
}
.btn-En-Revision{
    background-color: #f27011;
    color: white;
}

.btn-Terminada{
    background: #53e69d;
    border: 1px solid #53e69d;
    color: white;

}

.icon-dashboard{
    background: url(../../images/icon/dashboard.png);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
}
.fix-menu{
    position: absolute;
    margin: 2px 8px;
}

.icon-project{
    background: url(../../images/icon/project.png);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.icon-task{
    background: url(../../images/icon/task.png);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
}

.panel {
    border: 1px solid #ededed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

/* chat sidebar */

.chat-header .chat-menu {margin: 6px 0 0;}
.topnav-dropdown-footer {border-top: 1px solid #eee;}
.notification-box {bottom: 0;margin-right: -300px;position: fixed;right: 0;top: 60px;transition: all 0.4s ease 0s;width: 300px;z-index: 101;border-left: 1px solid #ddd;}
.open-msg-box .notification-box {margin-right:0;}
.msg-sidebar {background-color:#fff;}
.list-box {list-style: none;padding-left: 0;}
.list-item.new-message  {background-color: rgba(0, 0, 0, 0.2);}
.list-item {border-bottom: 1px solid #eaeaea;padding: 10px;position: relative;}
.list-left {height: 48px;position: absolute;width: 48px;}
.files-icon {background-color: #f5f5f5;border: 1px solid #ddd;border-radius: 4px;display: inline-block;height: 38px;line-height: 38px;text-align: center;width: 38px;}
.files-icon i {color: #777;font-size: 20px;}
.list-body {padding: 0 0 0 50px;}
.message-author {color: #333;float: left;font-weight: bold;width: 175px;display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.message-time {color: #888;float: right;font-size: 11px;}
.message-content {color: #333;font-size: 13px;display: block;max-width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.file-author a {color: #ff9b44;font-size: 12px;text-decoration: underline;}
.files-action .dropdown-menu {left: auto;right: 0;}

/* Chat */

.chat-main-row {bottom: 0;left: 0;overflow: auto;padding-bottom: inherit;padding-top: inherit;position: absolute;right: 0;top: 0;}
.chat-main-wrapper {display: table;height: 100%;table-layout: fixed;width: 100%;}
.message-view {display: table-cell;height: 100%;float: none;padding: 0;position: static;vertical-align: top;  /*-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;transition: all 0.4s ease;*/}
.chat-window {display: table;height: 100%;table-layout: fixed;width: 100%;background-color: #f6fafb;}
.chat-header {background-color: #fff;border-bottom: 1px solid #eaeaea;padding: 10px 15px;}
.chat-header .navbar {border: 0 none;margin: 0;min-height: auto;}
.chat-header .user-info a {color: #76838f;text-transform: uppercase;}
.typing-text {color: #ff9b44;font-size: 12px;text-transform: lowercase;}
.last-seen {color: #a3afb7;display: block;font-size: 12px;}
.chat-menu {margin-top: 6px;}
.chat-menu.navbar-nav > li > a {color: #ff9b44;font-size: 33px;margin-left: 15px;padding: 0;top: -7px;}
.chat-menu.navbar-nav > li > a:hover, .chat-menu.navbar-nav > li > a:focus {background-color:transparent;} 
.chat-menu .dropdown-menu {left: auto;right: 0;}
.message-search {margin-top: 5px;}
.message-search .input-group {background-color: #f3f7f9;border: 1px solid #e4eaec;border-radius: 50px;}
.message-search .input-group .form-control {background: transparent;border: none;}
.message-search .btn {background-color: transparent;}
.chat-contents {display: table-row;height: 100%;}
.chat-content-wrap {height: 100%;position: relative;width: 100%;}
.chat-wrap-inner {bottom: 0;left: 0;overflow: auto;position: absolute;right: 0;top: 0;}
.chats{padding:30px 15px;}
.chat-body{display:block;margin:10px 0 0;overflow:hidden;}
.chat-body:first-child{margin-top:0}
.chat-right .chat-content{position:relative;display:block;float:right;padding:8px 15px;margin: 0;clear:both;color:#fff;background-color:#34444c;border-radius:20px 2px 2px 20px;max-width: 60%;}
.chat-right .chat-body {padding-left: 48px;padding-right: 10px;}
.chat-bubble {display: block;width: 100%;float: left;margin-bottom:10px;}
.chat-bubble:hover .chat-action-btns {display: block;float: left;}
.chat-right .chat-bubble:hover .chat-action-btns {float: right;display: block;}
.chat.chat-right .chat-bubble:last-child .chat-content {border-bottom-right-radius: 20px;}
.chat.chat-right .chat-bubble:first-child .chat-content {border-top-right-radius: 20px;}
.chat-content > p{margin-bottom:0;}
.chat-time{color:rgba(255, 255, 255, 0.6);display:block;font-size:12px;}
.chat-right .chat-time {text-align: right;}
.chat-bubble .chat-action-btns {display: none;}
.chat-action-btns {float: right;}
.chat-action-btns ul {list-style: none;padding: 0;margin: 15px 15px 0 15px;}
.chat-action-btns ul > li {display: inline-block;margin-left: 5px;font-size: 18px;}
.chat-right .chat-action-btns {float: left;}
.chat-bubble .chat-action-btns a{color:#8c8c8c;}
.chat-line {border-bottom: 1px solid #eaeaea;height: 12px;margin: 7px 0 20px;position: relative;text-align: center;}
.chat-date {background-color: #f6fafb;color: #ff9b44;font-size: 12px;padding: 0 11px;}
.chat-avatar{float:right;}
.chat-left .chat-avatar{float:left}
.chat-left .chat-body{margin-right:0;margin-left:30px;padding-right: 20px;}
.chat-left .chat-content {background-color: #fff;border: 1px solid #eaeaea;color: #76838f;float: left;position:relative;padding:8px 15px;border-radius:2px 20px 20px 2px;max-width: 60%;}
.avatar {background-color: #aaa;border-radius: 50%;color: #fff;display: inline-block;font-weight: 500;height: 38px;line-height: 38px;margin: 0 10px 0 0;overflow: hidden;text-align: center;text-decoration: none;text-transform: uppercase;vertical-align: middle;width: 38px;position:relative;white-space:nowrap;}
.avatar:hover {color:#fff;}
.avatar > img {width: 100%;display:block;}
.chat.chat-left .chat-bubble:first-child .chat-content {border-top-left-radius: 20px;margin-top: 0;}
.chat.chat-left .chat-bubble:last-child .chat-content {border-bottom-left-radius: 20px;}
.chat-left .chat-time{color:#a3afb7}
.attach-list {color: #adb7be;padding: 5px 0 0;line-height: 24px;margin: 0;list-style: none;}
.attach-list i {margin-right: 3px;font-size: 16px;}
.previews li {float: left;margin: 10px 0;}
.previews img {display: block;max-width: 360px;width: auto;}
.previews {list-style: none;padding: 0;}
.chat-right .attach-list a, .chat-right .attach-list i {color: #fff;}
.chat-footer {background-color: #fff;border-top: 1px solid #eaeaea;padding: 15px;}
.message-bar{display:table;height:44px;position:relative;width:100%;}
.message-bar .message-inner{display:table-row;height:100%;padding:0 8px;width:100%;}
.message-bar .link{color:#777;display:table-cell;font-size:20px;padding:0 10px;position:relative;vertical-align:middle;width:30px;}
.message-bar .message-area{display:table-cell;}
.message-area .input-group .form-control {background-color: #fff;border: 1px solid #eaeaea;box-shadow: none;color: #555;display: block;font-size: 14px;height: 44px;margin: 0;padding: 6px 12px;width: 100%;resize: none;}
.message-area .btn {height: 44px;width: 50px;}
.profile-right {display: table-cell;height: 100%;float: none;padding: 0;position: static;vertical-align: top;}
.display-table {display: table;table-layout: fixed;border-spacing: 0;width: 100%;height: 100%;}
.table-row {display: table-row;height: 100%;}
.table-body {position: relative;height: 100%;width: 100%; }
.table-content {bottom: 0;left: 0;overflow: auto;position: absolute;right: 0;top: 0;}
.profile-right-inner {border-left: 1px solid #eaeaea;background-color: #fff;}
.chat-profile-img {padding: 30px;position: relative;text-align: center;}
.edit-profile-img {height: 120px;margin: 0 auto;position: relative;width: 120px;cursor:pointer;}
.change-img {background-color: rgba(0, 0, 0, 0.3);border-radius: 50%;color: #fff;display: none;height: 100%;left: 0;line-height: 120px;position: absolute;top: 0;width: 100%;}
.edit-profile-img:hover .change-img {display: block;}
.edit-profile-img .avatar {height: auto;margin: 0;width: 120px;}
.user-name {color: #333;}
.edit-btn {border-radius: 40px;height: 36px;position: absolute;right: 15px;top: 15px;width: 36px;}
.chat-profile-info {padding:15px;}
.user-det-list {list-style: none;padding: 0;}
.user-det-list > li {padding: 6px 15px;}
.user-det-list .text-muted {color: #888;}
.files-list {list-style: none;padding-left: 0;}
.files-list > li {border-bottom: 1px solid #eaeaea;border-radius: inherit;margin: 2px 0 0;padding: 10px;}
.files-cont {position: relative;}
.file-type {height: 48px;position: absolute;width: 48px;}
.files-icon {background-color: #f3f7f9;border: 1px solid #e4eaec;border-radius: 4px;display: inline-block;height: 38px;line-height: 38px;text-align: center;width: 38px;}
.files-icon i {color: #76838f;font-size: 20px;}
.files-info {padding: 0 30px 0 50px;}
.files-action {display:none;height: 30px;list-style: none;padding-left: 0;position: absolute;right: 0;text-align: right;top: 10px;width: 30px;}
.files-list > li:hover .files-action {display:block;}
.file-date {color: #888;font-size: 12px;}
.file-author a {color: #ff9b44;font-size: 12px;text-decoration: underline;}
.files-action .dropdown-menu {left: auto;right: 0;}
.chat-img-attach {border-radius: 4px;margin-bottom: 12px;margin-left: 12px;position: relative;float: right;}
.chat-img-attach img {border-radius: 4px;}
.chat-placeholder {background: rgba(69, 81, 97, 0.6);border-radius: 4px;color: #fff;display: flex;flex-direction: column;height: 100%;justify-content: flex-end;left: 0;padding: 13px;position: absolute;top: 0;width: 100%;}
.chat-img-name {font-size: 12px;font-weight: 700;line-height: 16px;}
.chat-file-desc {font-size: 11px;}
.chat-right .chat-content.img-content {background-color:transparent;color: #76838f;padding: 0;text-align: right;}
.chat-right .img-content .chat-time {color: #a3afb7;}
.chat-left .chat-img-attach {float: left;}
.chat-left .chat-img-attach {float: left;margin-left: 0;margin-right: 12px;}

/* Direct Chat Popup */

.input-group .input-lg.form-control {border-radius: 4px 0 0 4px;height: 46px;}
.chat-user-list .media {border-bottom: 1px solid #eaeaea;border-radius: inherit;margin: 0;padding: 10px;margin-top: 2px;background-color: #fff;}
.chat-user-list .avatar {margin-right:0;}
.designation {color: #9e9e9e;font-size: 12px;}
.online-date {color: #9e9e9e;font-size: 12px;}

/* Drog and Drop Popup */

.drop-zone{width:100%;height:205px;border:2px dashed #adb7be;text-align:center;padding:25px 0 0;margin-bottom: 20px;}
.drop-zone .drop-zone-caption{font-weight:600;}
.upload-list {padding: 0;list-style: none;margin: 0;}
.upload-list .file-list {background-color: #fff;border-top: 1px solid #d8e2e7;padding: 10px;}
.upload-list .file-list:first-child{border-top:none}
.upload-list .upload-wrap{position:relative;padding:0 20px 0 0;margin:0 0 5px}
.upload-list .file-name,.upload-list .file-size{display:inline-block;vertical-align:top;white-space:nowrap;}
.upload-list .file-name{padding-right:15px;overflow:hidden;max-width:100%;text-overflow:ellipsis}
.upload-list .file-size{color:#888;}
.upload-list .file-close{border:none;background:none;color:#dbe4ea;position:absolute;right:0;top:2px;}
.upload-list .file-close:hover{color:#f62d51}
.upload-list .upload-process{font-size:10px;color:#888;}
.upload-list .progress{margin-bottom:5px;background-color:#f6f8fa;height:5px;}
.upload-list .file-name i {color: #fda75c;margin: 0 5px 0 0;vertical-align: middle;}
.upload-drop-zone {height: 200px;border-width: 2px;margin-bottom: 20px;color: #ccc;border-style: dashed;border-color: #adb7be;line-height: 200px;text-align: center;background-color:#fff;}
.upload-drop-zone.drop {color: #222;border-color: #222;}
.upload-text {font-size: 24px;margin-left: 10px;}

/* Files Share Popup */

.files-share-list {border: 1px solid #eaeaea;border-radius: 4px;margin-bottom: 20px;padding: 15px;}

.cursor-pointer{
    cursor: pointer;
}

.ico-dropfy{
    font-size: 3em;
}


.detail .helper1 {
    top: 0;
    left: 0;
    -webkit-transform: translate(1.4em, 1.7em) scale(1);
    transform: translate(1.4em, 1.7em) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    transition: opacity .2s linear, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s linear;
    transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
}

.detail.focusWithText .helper {
    -webkit-transform: translate(.6em, 1.6em) scale(0.65);
    transform: translate(.8em, 1.6em) scale(0.65);
    opacity: 1;
}

.detail .helper {
    position: relative;
    z-index: 1;
    font-family: inherit;
    top: 20px;
}
.detail .text{
    display: block;
    margin: 0;
    padding: 24px 1em 0;
    background-color: #f3fafd;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 65px;
    font-size: 1.25em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow .2s linear, border-color .25s ease-out;
}

.detail .warning{
    background: #ffa50047;
}

.modal-header {
    background: white;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #00b1f3;
}
.img-comment{
    display: inline-block;
    float: left;
    border-radius: 50px;
    width: 42px;
    height: 42px;
}
.user-comment{
    padding: 10px 0 0px 47px;
    color: #217093;
    font-size: 1em;
    font-weight: 600;
}

.comment .text {
    display: block;
    margin: 0;
    padding: 24px 1em 0;
    background-color: #f3fafd;
    border-radius: 4px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 65px;
    font-size: 1em;
    color: #353538;
    font-weight: 300;
    font-family: inherit;
    transition: box-shadow .2s linear, border-color .25s ease-out;
}

.comment.focusWithText .helper {
    -webkit-transform: translate(.6em, 1.6em) scale(0.65);
    transform: translate(.8em, 1.6em) scale(0.65);
    opacity: 1;
}
.comment .helper {
    position: relative;
    z-index: 1;
    font-family: inherit;
    top: 16px;
}
.comment .helper1 {
    left: 0;
    -webkit-transform: translate(1.4em, 1.7em) scale(1);
    transform: translate(1.4em, 1.7em) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    transition: opacity .2s linear, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s linear;
    transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
}

.panel-title {
    border-bottom: 1px solid #00b1f3;
    text-transform: uppercase;
    padding-bottom: 4px;
}
.thumbnail{
    cursor: pointer;
}

.thumbnail:hover{
    border: 3px solid #00b1f3;
    transform: scale(1.2);
}

.comment-action-btn {
    position: absolute;
    right: 16px;
    top: 10px;
}

.see-content {
    position: absolute;
    right: 26px;
    bottom: 0;
}

.comment{
    margin-top: 20px;
}

.text-center{
    text-align: center;
}

.center{
    margin: auto;
    display: block;
    text-align: center;
}

.img-user-task{
    width: 32px;
    height: 32px;
    border-radius: 25px;
}
.page-title{
    
}

/* Action Label */

.dropdown.action-label {
    display: inline-block;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    display: block;
    width: 100px;
}
.action-label > a {display: inline-block;min-width: 103px;}
.action-label .btn-sm {padding: 5px;}
.action-label i.caret {margin-left: 3px;margin-right: 0;}

.text-primary, .dropdown-menu > li > a.text-primary {color:#ff9b44;}
.text-success, .dropdown-menu > li > a.text-success {color:#55ce63;}
.text-danger, .dropdown-menu > li > a.text-danger {color:#f62d51;}
.text-info, .dropdown-menu > li > a.text-info {color:#009efb;}
.text-warning, .dropdown-menu > li > a.text-warning {color:#ffbc34;}
.text-purple, .dropdown-menu > li > a.text-purple {color:#7460ee;}

.dropdown-danger {
    box-shadow: inset 0 1px 6px #f62d51, 0 1px #f62d51 !important;
}
.dropdown-warning {
    box-shadow: inset 0 1px 6px #ff9b44, 0 1px #ff9b44 !important;
}
.dropdown-low {
    box-shadow: inset 0 1px 6px #ffbc34, 0 1px #ffbc34 !important;
}

.dropdown-info {
    box-shadow: inset 0 1px 6px #009efb, 0 1px #009efb !important;
}