@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

/* Login Ice--------------------------------------------------------- */

/* colors */
html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/banners/background04.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

form {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  /* display: block; */
  /* width: 100%; */
  /* max-width: 400px; */
  /* background-color: #FFF; */
  /* margin: 0; */
  /* padding: 2.25em; */
  /* box-sizing: border-box; */
  /* border-radius: .5em; */
  /* font-family: 'Source Sans Pro', sans-serif; */
}
.svgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 1em;
  border-radius: 50%;
  background: none;
  border: solid 2.5px #3A5E77;
  overflow: hidden;
  pointer-events: none;
}
.svgContainer div {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}
f.svgContainer .mySVG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.inputGroup {
  margin: 0 0 2em;
  padding: 0;
  position: relative;
}
.inputGroup:last-of-type {
  margin-bottom: 0;
}
form label {
  margin: 0 0 12px;
  display: block;
  font-size: 1.25em;
  color: #217093;
  font-weight: 700;
  font-family: inherit;
}
form input[type='email'], form input[type="text"], form input[type='password'] {
  display: block;
  margin: 0;
  padding: 0 1em 0;
  background-color: #f3fafd;
  border: solid 2px #217093;
  border-radius: 4px;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 1.45em;
  color: #353538;
  font-weight: 600;
  font-family: inherit;
  transition: box-shadow .2s linear, border-color .25s ease-out;
}
form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}
form input[type='email'], form input[type="text"] {
  padding: 14px 1em 0px;
}
form button {
  background: #0085f1;
  background: -moz-linear-gradient(left, #00a2ff 0%, #072e61 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #072e61), color-stop(100%, #fc6075));
  background: -webkit-linear-gradient(left, #00a2ff 0%, #072e61 100%);
  background: -o-linear-gradient(left, #00a2ff 0%, #072e61 100%);
  background: -ms-linear-gradient(left, #00a2ff 0%, #072e61 100%);
  background: linear-gradient(to right, #00a2ff 0%, #072e61 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b44', endColorstr='#fc6075', GradientType=1 );
  border-radius: 0;
  font-size: 25px;
  padding: 10px 26px;
  box-shadow: 0 6px 15px rgba(0, 217, 255, 0.6);
  border: 0;
  width: 100%;
  height: 65px;
  color: #FFF;
  font-weight: 600;
  font-family: inherit;
}
form button:hover, form button:active {
  background-color: #217093;
}
.inputGroup1 .helper {
  position: absolute;
  z-index: 1;
  font-family: inherit;
  padding-top: 22px;
}
.inputGroup1 .helper1 {
  top: 0;
  left: 0;
  -webkit-transform: translate(1.4em, 1.7em) scale(1);
          transform: translate(1.4em, 1.7em) scale(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: #217093;
  font-size: 1.25em;
  font-weight: 400;
  opacity: .65;
  pointer-events: none;
  transition: opacity .2s linear, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, opacity .2s linear;
  transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
}
.inputGroup1.focusWithText .helper {
  /*input[type='email']:focus + .helper {*/
  -webkit-transform: translate(.6em, 1.6em) scale(0.65);
          transform: translate(.8em, 1.6em) scale(0.65);
  opacity: 1;
}

/* menu bar------------------------------------------  */




.theme-blue {
    background: #00c5fb;
    background: -moz-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #00c5fb), color-stop(100%, #0253cc));
    background: -webkit-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: -o-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: -ms-linear-gradient(left, #00c5fb 0%, #0253cc 100%);
    background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5fb', endColorstr='#0253cc', GradientType=1 );
    border-bottom: none;
}

.theme-maroon {
    background: #f43b48;
    background: -moz-linear-gradient(left, #f43b48 0%, #453a94 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #f43b48), color-stop(100%, #453a94));
    background: -webkit-linear-gradient(left, #f43b48 0%, #453a94 100%);
    background: -o-linear-gradient(left, #f43b48 0%, #453a94 100%);
    background: -ms-linear-gradient(left, #f43b48 0%, #453a94 100%);
    background: linear-gradient(to right, #f43b48 0%, #453a94 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43b48', endColorstr='#453a94', GradientType=1 );
    border-bottom: none;
}


.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background: #070708;
border-right: 1px solid #000000;
position:absolute;
top:51px;
bottom:0;
height:95%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
opacity: 0.7;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Montserrat', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
 
